
@import "normalize.css" screen;
body {
  padding: 20px;
  margin: 20px;
	}
h1 {
}
h2 {
  font-style: italic;
}
.cascade-paragraph {
	background: #99FF99;
}
blockquote {
}
ul {
  color: #000000;
}
ol {
  border: 1px solid #cccccc;
  padding: 20px 50px;
}
li {
  font-size: 17px;
}
p {
  margin: 0 15px;
}
a {
  font-size: 14px;
}
ul ul ul li {
  color: red;
}


