p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279; 
}

h1 {
  font-size: 65px;
  color: #2d3033; 
}

h2 {
  font-size: 40px;
  color: #2d3033; 
}

h3 {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300; 
}

h4 {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400; 
}

h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700; 
}

.button {
  background-color: #e84545;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  padding: 15px 40px;
  text-decoration: none;
}

a {
  color: #e84545; 
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #6c7279;
  width: 100%;
}

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; 
}

/*Header*/

#header {
  position: fixed;
  width: 100%;
  z-index: 999; 
}
#header .header-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  max-width: 1168px;
  padding: 40px 0;
  width: 100%;
  background-color: rgba(49, 54, 79, 0.6);
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s; 
}
#header .logo {
  float: left; 
}

#header .fixed {
  background-color: #292c47; 
}
#header .fixed .header-content {
  border-bottom: 0;
  padding: 25px 0; 
}

.navigation {
  float: right; 
}
.navigation li {
  display: inline-block; 
}
.navigation a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  font-weight: 700;
  margin-left: 40px;
  text-transform: uppercase; 
}

/*Banner*/

.banner {
  background-image: url(images/banner.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 750px; 
}

.banner-text {
  text-align:center;
  vertical-align: middle;
  padding: 10% 40px 5% 40px;
  margin: 0 auto;
  max-width: 1168px;
  width: 100%; 
}
  .banner-text h1 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase; 
  }
  .banner-text p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px; 
  }

/*Features*/

.features {
  padding: 100px 60px 50px 60px;
  margin: 0 auto;
  max-width: 1168px;
  width: 100%; 
  }
.features .row > div {
  box-sizing: border-box;
  color: rgb(108, 114, 121);
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 57px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: center;
  width: 33%;
}
.feature-content {
  padding: 0 15px;
  margin: 30px 0 0; }
figure {
  display: inline-block; 
  margin:0 auto;
}
div > h5 {
  margin-bottom: 0;
}

.bg-icon1 {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -102px -90px;
}
.bg-icon2 {
    width: 73px; height: 60px;
    background: url('css_sprites.png') -109px -10px;
}
.bg-icon3 {
    width: 41px; height: 60px;
    background: url('css_sprites.png') -202px -90px;
}
.bg-icon4 {
    width: 56px; height: 60px;
    background: url('css_sprites.png') -202px -10px;
}
.bg-icon5 {
    width: 72px; height: 60px;
    background: url('css_sprites.png') -10px -90px;
}
.bg-icon6 {
    width: 79px; height: 60px;
    background: url('css_sprites.png') -10px -10px;
}
/*Works*/

#works {
  width: 100%;
  font-size: 0;
}
div .col-work {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  align-items: all;
  width: 25%;
  min-height: 350px;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid white;
}
.col-work .overlay {
  background: rgba(232, 69, 69, 0.9);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%; 
}
.col-work .overlay-caption {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.col-work h5, .col-work p {
  color: #fff;
  margin: 0;
  opacity: 0; 
}
.col-work h5 {
  margin-bottom: 5px;
}
.work-box:hover .overlay {
  opacity: 1; 
}
.work-box:hover .overlay h5, .work-box:hover .overlay p {
  opacity: 1;
}

/*Footer*/

.footer {
  font-size: 0;
  margin: 0 auto;
  width: 100%; 
  text-align: center; 
}
.footer .container {
  display: block;
  margin: 0 auto;
  max-width: 1168px;
  width: 100%; 
}
.footer .row > div {
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: center;
  width: 33.333333%;
}
.footer-top {
  background-color: #3a3e64;
  padding-top: 50px; 
}
.footer-bottom {
  background-color: #313454;
  padding: 20px 0; 
}
.footer .footer-col {
  margin-bottom: 80px; 
}
.footer h5 {
  color: #fff; 
}
.footer h5 {
    margin-bottom: 20px; 
  }
.footer p {
  color: rgba(255, 255, 255, 0.5); 
}
.footer a {
  color: #fff; 
}
.footer .footer-share {
  margin-top: 0; 
}
.footer .footer-share li {
  display: inline-block;
  float: none; 
}
.footer .footer-share a {
  border-width: 2px;
  color: #fff; 
}